[merge]
	tool = kdiff3
[diff]
	guitool = kdiff3
[core]
	editor = \"Y:/GitExtensions/GitExtensions.exe\" fileeditor
[pull]
	rebase = false
[fetch]
	prune = false
[rebase]
	autoStash = false
[user]
	email = 40823110@gm.nfu.edu.tw
	name = 40823110
